vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_webservertype:SR|apache-2.0
vti_defaultlanguage:SR|fr
vti_missingoverlays:VX|
vti_timecreated:TR|09 Jan 2009 20:14:17 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_disableautoimgsizeexts:SX|.asp
vti_createpostinfo:BX|false
vti_extenderversion:SR|5.0.2.2634
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_textindexood:IR|0
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Précédente
vti_navbuttonnextlabel:SR|Suivante
vti_approvallevels:VR|Approved Denied Pending\\ Review Approuvé  Refusé Révision\\ en\\ cours
vti_hassearchbot:BR|false
vti_dependenciesood:IR|0
vti_navbuttonhomelabel:SR|Accueil
vti_themedefault:SR|none
vti_borderdefault:SR|tlb
vti_featurelist:VX|vti_ACGroups vti_ACUseDomains vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirScript vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirExec vti_ACIPAddresses vti_ServerIndexServer vti_ServerODBC vti_ServerCollab vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule En\\ attente Agenda Idées Dispositions\\ diverses Planification Rapport\\ de\\ frais V.I.P En\\ cours Professionnel Buts/Objectifs Compétition Voyage
vti_missingoverlaylabels:VX|
vti_approvalapproved:SR|Approuvé 
vti_approvaldenied:SR|Refusé
vti_defaultcharset:SR|windows-1252
vti_autorecalc:IX|1
vti_navbuttonuplabel:SR|Remonter
